.section.features {
    flex-direction: row;
    background: #FFFFFF;
    padding: 94px 0;
    text-align: center;
    column-gap: 30px;
}





.features-list {
    display: flex;
    text-align: center;
    padding-left: 0;
    column-gap: 30px;
    width: 100%;

}
    @media screen  and (max-width:767px)
    { .features-list{
        display:block;
        }
    }
    //   @media (max-width: 768px) 
    //      {.features-list{
    //         display:flex;
    //         flex-wrap: wrap;
    //      }
         
    //     }
        @media (max-width:1199px) {
            .features-list{
                display: flex;
                    flex-wrap: wrap;
                    // margin-right: -15px;
                    // margin-left: -15px;
                    margin-bottom: -30px;
                }
            }
            
        
           
 
       

    

.features-list:last-child {
    margin-right: 0;}
    

.feature-list__item {
    display: block;
    width: 100%;
    @media (min-width: 768px){
     width: 47%;
        }

}

.features-icons {
    height: 120px;
    background: rgba(245, 244, 250, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.icon-features {
    width: 65px;
    height: 70px;

}