.section.footer {
    padding: 60px 0;
    background-color: #2F303a;

}
.footer .staff-socials {
    display: flex;
    margin-bottom: 30px;
}


.socials-item {
    margin-left: 10px;
}


.socials-item:first-child {
    margin-left: 0;
}

li.socials-item {
    box-shadow: none;
    display: inline-block;
}


.social-icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
    justify-content: center;
    align-items: center;
    line-height: 30px;
    display: inline-block;
    transition: fill 250ms var(--timing-function);


}

.footer-sociales .socials-item {
    margin-left: 10px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;

}
@media screen and (max-width: 1199px) {
    .footer-sociales{
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        margin-top: 60px;


    }
    
}
.footer-sociales
.footer-container {
    // width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    display: flex;
    align-items: baseline;}

    
    @media screen and (min-width: 768px){
    .footer-container {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        flex-wrap: wrap;
        padding-bottom: 60px;}}
    
        
    
    
    
        @media screen and (min-width: 1200px) {
            .footer-container{
                width: 1200px;

            }
    
          
        }
    

.footer-second {
    margin-right: 70px;}
   
    @media screen and (max-width: 768px){
        .footer-second{
        margin-right: 0;
        text-align: center;
        }

    }


     .subscribe {
    padding-left: 93px;

    @media screen and (max-width: 1119px) {
        display: flex;
        margin-top: 60px;
        flex-direction: column;
       align-items: center;
       text-align: center;
       
        padding-left: 0;
        
}
}

