// &hero-image-gradient:linear-gradient(to left, rgba (47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));

.section.hero {

    background-color: #2F303A;
    text-align: center;
    padding: 200px 0;
    max-width: 1600px;
    width: 100%;
    text-align: center;
    padding-top: 118px;
        padding-bottom: 118px;
    margin: 0 auto;
    background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../image/Img-hero.jpg),
        url(../images/overlay.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-device-pixel-ratio: 1), 
    ( min-resolution: 1dppx),
    (min-resolution: 96dpi) {
        background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../image/Img-hero.jpg@1x),
                url(../images/overlay.jpg);

    }
        @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 2dppx),
        (min-resolution: 192dpi) {
            background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../image/Img-hero.jpg@2x),
                url(../images/overlay.jpg);
    
        }}

        

    @media not all,
        screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
        screen and (min-width: 768px) and (min-resolution: 192dpi),
        screen and (min-width: 768px) and (min-resolution: 2dppx) 
        { .section.hero
            {background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                    url(../image/Img-hero.jpg@2x),
                    url(../images/overlay.jpg);

            }

        }
     @media not all,
         screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
         screen and (min-width: 768px) and (min-resolution: 192dpi),
         screen and (min-width: 768px) and (min-resolution: 2dppx) {
         .section.hero {
                 background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                             url(../image/Img-hero.jpg@2x),
                             url(../images/overlay.jpg);
        
                     }
        
                 }
     @media not all,
         screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2),
         screen and (min-width: 1200px) and (min-resolution: 192dpi),
         screen and (min-width: 1200px) and (min-resolution: 2dppx) {
         .section.hero {
                  background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                          url(../image/Img-hero.jpg@2x),
                         url(../images/overlay.jpg);  }}

      


